aside {
    min-height: calc(100vh - 56px);
}

.sidebar-sticky {
    position: sticky;
    top: 0;
    padding-top: 1rem;
}

.sidebar-sticky h2 {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.sidebar-sticky ul {
    list-style: none;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-left: 1rem;
}
    .sidebar-sticky li {
        margin: 1em 0;
    }

main {
    padding-top: 1rem;
}
